.subscriber {
  position: relative;
}

.subscriber img {
  border: 3px solid transparent;
}

.subscriber:before {
  content: '';
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 2px;
  animation: animatedgradient 2s ease alternate infinite;
  background-size: 200% 200%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
