:global(#leftVideo)::-webkit-media-controls {
  display: none !important;
}

.videoContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.playerContainer {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Making this larger causes issues on mobile */
  min-height: 48vh;
}

@media only screen and (max-width: 600px) {
  .mobileStack {
    flex-direction: column;
    gap: 4px;
    width: calc(100% - 8px);
  }
}

.leftColumn {
  flex-grow: 1;
  @media only screen and (max-width: 600px) {
    width: calc(100% - 8px);
  }
}

.rightColumn {
  flex-shrink: 0;
  padding-left: 34px;
  margin-left: 4px;
  @media only screen and (max-width: 600px) {
    width: calc(100% - 8px);
  }
}

.toolToggle {
  display: flex;
  gap: 4px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  width: 130px;
  color: white;
  background-color: gray;
  border-radius: 4px;
  padding: 4px;
}

.expandButton {
  position: absolute;
  z-index: 900;
  background-color: lightgrey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fullHeightColumn.fullHeightColumn.fullHeightColumn {
  height: calc(100vh - 64px);
  transition: width ease-out 0.5s;
}

.fullHeightColumnFullscreen.fullHeightColumnFullscreen.fullHeightColumnFullscreen {
  height: calc(100vh);
  transition: width ease-out 0.5s;
}
