::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

body {
  background-color: #222222;
}

.comment {
  word-break: break-word;
}

.comment .light.light.light {
  color: gainsboro;
}

.comment .dark.dark.dark {
  color: gray;
}

.chatContainer {
  flex-grow: 1;
  overflow: auto;
}

.system.system.system.system {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.controlsContainer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.controls {
  color: white;
  display: flex;
  align-items: center;
  line-height: 14px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.control.control {
  margin-right: 10px;
  text-transform: uppercase;
}

.control.action {
  cursor: pointer;
}

.control.glowing {
  text-shadow: 0px 0px 6px yellow;
}

.progress .bar.bar.bar {
  pointer-events: none;
  min-width: initial;
}
.upload-progress > .ui.progress .bar {
  background: linear-gradient(
    102.69deg,
    #8350f1 0%,
    #00ff85 115.08%
  ) !important;
  border-radius: 11.7385px !important;
}

.videoContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

#playerContainer {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48vh;
  top: 0;
  left: 0;
  width: 100%;
}

#theaterContainer {
  background: #070707;
  overflow: hidden;
}

.fullScreenChat.fullScreenChat.fullScreenChat {
  width: 20vw;
}

#leftVideo::-webkit-media-controls {
  display: none !important;
}

#leftYt {
  /*pointer-events: none;*/
}

@media only screen and (max-width: 600px) {
  .mobileStack {
    flex-direction: column;
    width: 100%;
    gap: 4px;
  }
}

.fullHeightColumn.fullHeightColumn.fullHeightColumn {
  /* height: calc(100vh - 62px); */
  height: calc(100vh);
  transition: width ease-out 0.5s;
}

.fullHeightColumnFullscreen.fullHeightColumnFullscreen.fullHeightColumnFullscreen {
  height: calc(100vh);
}

.ui.labeled.icon.button > .icon.loading,
.ui.labeled.icon.buttons > .button > .icon.loading {
  background-color: initial;
}

.ui.dropdown .menu[role='listbox'] {
  z-index: 1001;
}

.ui.selection.dropdown.ui.selection.dropdown {
  min-height: 1em;
  border: 0px;
}

.ui.search.dropdown > .text {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.ui.dropdown > .text {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.ui.inverted.menu .active.item {
  border-bottom: 2px solid #2185d0;
  background: inherit;
  margin-bottom: -2px;
}

.yt-screen > .ui.dimmer {
  padding: 0 !important;
}
