::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

body {
  background-color: #222222;
}

.comment {
  word-break: break-word;
}

.comment .light.light.light {
  color: gainsboro;
}

.comment .dark.dark.dark {
  color: gray;
}

.chatContainer {
  flex-grow: 1;
  overflow: scroll;
}

.system.system.system.system {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.controlsContainer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.controls {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 14px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.control.control {
  margin-right: 10px;
  text-transform: uppercase;
}

.control.action {
  cursor: pointer;
}

.progress .bar.bar.bar {
  pointer-events: none;
  min-width: initial;
}

.videoContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullScreenContainer {
  display: flex;
  flex-direction: row;
}

#playerContainer {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 62vh;
}

.fullScreenContainer:fullscreen > #playerContainer {
  width: 80vw;
}

.fullScreenChat.fullScreenChat.fullScreenChat {
  width: 20vw;
}

#leftVideo::-webkit-media-controls {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .mobileStack {
    flex-direction: column;
  }
}

.fullHeightColumn.fullHeightColumn.fullHeightColumn.fullHeightColumn {
  height: calc(100vh - 62px);
}

.toolButton {
  min-width: 135px;
  height: 36px;
}

.videoChatContent {
  height: 110px;
  border-radius: 4px;
  object-fit: contain;
}

.ui.labeled.icon.button > .icon.loading,
.ui.labeled.icon.buttons > .button > .icon.loading {
  background-color: initial;
}

.ui.dropdown .menu[role='listbox'] {
  z-index: 1001;
}

.ui.selection.dropdown.ui.selection.dropdown {
  min-height: 1em;
  border: 0px;
}

.ui.search.dropdown > .text {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.footerIcon {
  color: white;
  margin-right: 10px;
}
