.controlsContainer {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.controls {
  color: whitesmoke;
  display: flex;
  align-items: center;
  line-height: 14px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  gap: 6px;
}

@media only screen and (max-width: 600px) {
  .controls {
    flex-wrap: wrap;
  }
}

.text {
  font-weight: 700;
  font-size: 0.8em;
}

.action {
  cursor: pointer;
}
