.wrapper {
  z-index: 1200 !important;
  min-height: 80vh;
}
.UploadButton {
  background-color: #8350f1 !important;
  color: #f4f4f4 !important;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  background: rgba(0, 0, 0, 0.8);
}
.header h5 {
  text-align: center;
  font-size: 1.7vw;
}

.header ol {
  margin: 10 10px;
  font-size: 1.2vw;
  /* text-align: center; */
}

.header ol li {
  line-height: 1.6em;
  /* margin: 10 auto; */
  /* text-align: center; */
}
.fileInput {
  display: none;
}
.cancelbtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.inputWrapper {
  margin: 0 auto;
}
.input {
  /* margin: 20px 0 20px 40px; */
  margin-top: 20px;
  margin-left: -60px;
}

.input input {
  width: 100%;
  background-color: inherit !important;
  border: 1px solid #aeaeae !important;
  color: #f4f4f4 !important;
}

.InputAction {
  background-color: #8350f1 !important;
  /* background-color: linear-gradient(96.68deg, #8350f1 9.5%, #6824f7 100%); */
  border-radius: 0px 6px 6px 0px;
  color: #f4f4f4 !important;
}

.copiedBox {
  background: linear-gradient(
    281.22deg,
    rgba(104, 36, 247, 0.15) -18.42%,
    rgba(142, 106, 220, 0.15) 117.47%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 51px;
  gap: 10px;
}
.copiedBox .copiedImage {
  height: 50px;
  width: 50px;
  text-align: center;
  align-items: center;
}
.copiedBox h5 {
  font-size: 1.8vw;
  margin: 0;
}
.copiedBox h4 {
  font-size: 1.5vw;
}
