.wrapper {
  z-index: 1200 !important;
  min-height: 100vh;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.UploadButton {
  background-color: red !important;
  color: #f4f4f4 !important;
}
.fileImage {
  width: 100px;
  height: 85px;
}
.customProgress {
  height: 1.75em;
  margin: 0 !important;
  background: #4b4b4b !important;
  border-radius: 11.7385px !important;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/assets/upload/uploadBg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.subContent {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.linearBackground {
  background: linear-gradient(135deg, #08ff5c 0%, #00882e 100%);
}
.uploadSubContent {
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.contentDetails {
  height: 80%;
  width: 100%;
}
.backIcon {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.solarQuit {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.header h5 {
  text-align: center;
  font-size: 1.7vw;
}

.header ol {
  margin: 10 10px;
  font-size: 1.2vw;
  /* text-align: center; */
}

.header ol li {
  line-height: 1.6em;
  /* margin: 10 auto; */
  /* text-align: center; */
}
.fileInput {
  display: none;
}
.cancelbtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.inputWrapper {
  margin: 0 auto;
}
.fileUpload {
  position: relative;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(135deg, #08ff5c 0%, #00882e 100%);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.fileUpload input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.input {
  /* margin: 20px 0 20px 40px; */
  margin-top: 20px;
  margin-left: -60px;
}

.input input {
  width: 100%;
  background-color: inherit !important;
  border: 1px solid #aeaeae !important;
  color: #f4f4f4 !important;
}

.InputAction {
  background-color: #8350f1 !important;
  /* background-color: linear-gradient(96.68deg, #8350f1 9.5%, #6824f7 100%); */
  border-radius: 0px 6px 6px 0px;
  color: #f4f4f4 !important;
}

.copiedBox {
  background: linear-gradient(
    281.22deg,
    rgba(104, 36, 247, 0.15) -18.42%,
    rgba(142, 106, 220, 0.15) 117.47%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 51px;
  gap: 10px;
}
.copiedBox .copiedImage {
  height: 50px;
  width: 50px;
  text-align: center;
  align-items: center;
}
.copiedBox h5 {
  font-size: 1.8vw;
  margin: 0;
}
.copiedBox h4 {
  font-size: 1.5vw;
}
