.Card {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
}

.Wrapper {
  display: flex;
  align-items: center;
  display: flex;
  gap: 8px;
}

.ThumbnailWrapper {
  flex: 0 0 auto;
  width: 100px;
  height: 56px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}

.Thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Content {
  flex-grow: 1;
}

.Title {
  line-height: 1.5;
  /* max-width: 400px; */
  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
  overflow-wrap: anywhere;
}

.ChannelName {
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.DurationLabel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  pointer-events: none;
}

.Controls {
  margin-left: auto;
  display: flex;
  gap: 4px;
}
