.Card {
  color: inherit;
  display: block;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.1); */
  background: #222222;
  border-radius: 4px;
  padding: 8px;
  margin: 4px 0 !important;
  cursor: pointer;
}

.Wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 8px;
}

.ThumbnailWrapper {
  flex: 0 0 auto;
  width: 150px;
  height: 86px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
}

.Thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Content {
  overflow: hidden;
  min-height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  /* flex: 1 1; */
}
.PlaylistAddButton {
  background-color: #2222;
  color: #eeeded;
  border: 2.9412px solid rgba(180, 180, 180, 0.1);
  opacity: 0.8;
  margin-top: 5px;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1000 !important;
}

.Title {
  color: #eeeded;
  line-height: 1.2;
  overflow: hidden;
  font-weight: 700;
  font-size: 18px;
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  width: 100%;
  display: block;
}

.ChannelName {
  color: #eeeded;
  opacity: 0.5;
  margin-top: 4px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.DurationLabel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  pointer-events: none;
}

.Controls {
  position: absolute;
  top: 45%;
  right: 4%;
  /* margin-left: auto; */
  /* display: flex; */
  /* height: 100%;
  flex-direction: column;
  justify-content: center; */
}
