.Wrapper {
  display: flex;
  align-items: center;
}

.ThumbnailWrapper {
  flex: 0 0 auto;
  width: 100px;
  height: 56px;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 16px;
}

.Thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Content {
  overflow: hidden;
  flex: 1 1 auto;
}

.Title {
  color: #fff;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.Title:hover {
  color: #fff;
}

.ChannelName {
  color: #fff;
  opacity: 0.5;
  margin-top: 4px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.DurationLabel {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  pointer-events: none;
}

.Controls {
  margin-left: 12px;
}
