.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

body {
  background-color: #222222;
}

.comment {
  word-break: break-all;
}

.comment .white.white.white {
  color: white;
}

.comment .lightgray.lightgray.lightgray {
  color: lightgray;
}

.chatContainer {
  flex-grow: 1;
  overflow: scroll;
  max-height: 400px;
}

.system.system.system.system {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.controls {
  color: white;
  display: flex;
  align-items: center;
  line-height: 14px;
}

.control.control {
  margin-right: 10px;
  text-transform: uppercase;
}

.control.action {
  cursor: pointer;
}

.progress .bar.bar.bar {
  pointer-events: none;
  min-width: initial;
}

.auto-resizable-iframe {
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 60%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#videoContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 400px;
    overflow: scroll;
}