::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

body {
  background-color: #222222;
}

.comment {
  word-break: break-word;
}

.comment .light.light.light {
  color: gainsboro;
}

.comment .dark.dark.dark {
  color: gray;
}

.chatContainer {
  flex-grow: 1;
  overflow: scroll;
}

.system.system.system.system {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.controls {
  color: white;
  display: flex;
  align-items: center;
  line-height: 14px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.control.control {
  margin-right: 10px;
  text-transform: uppercase;
}

.control.action {
  cursor: pointer;
}

.progress .bar.bar.bar {
  pointer-events: none;
  min-width: initial;
}

.leftYtContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#leftYt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullScreenContainer {
  display: flex;
  flex-direction: row;
}

.fullScreenContainer:fullscreen > #playerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fullScreenContainer .videoOuter {
  /* min-height: 70vh;
    max-height: 75vh; */
  width: 75vw;
  max-height: 100vh;
}

.fullScreenContainer .fullScreenChat {
  /* max-height: 23vh; */
  width: 25vw;
  max-height: 100vh;
}

.videoOuter {
  width: 100%;
  min-height: 400px;
}

#leftVideo::-webkit-media-controls {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .mobileStack {
    flex-direction: column;
  }
}

.fullHeightColumn.fullHeightColumn.fullHeightColumn.fullHeightColumn {
  height: calc(100vh - 160px);
}

.toolButton {
  min-width: 135px;
  height: 36px;
}

.videoChatContent {
  height: 120px;
  border-radius: 4px;
  object-fit: contain;
}

.ui.labeled.icon.button > .icon.loading,
.ui.labeled.icon.buttons > .button > .icon.loading {
  background-color: initial;
}

.ui.dropdown .menu[role='listbox'] {
  z-index: 1001;
}

.ui.selection.dropdown.ui.selection.dropdown {
  min-height: 1em;
  border: 0px;
}
