body {
  margin: 0;
  /* fix for scrollbar popping in and out at certain widths, but adds a permanent scrollbar */
  overflow-y: scroll;
}

button.linkButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.footerIcon {
  color: white;
  margin-right: 10px;
}

.toolButton {
  min-width: 135px;
  height: 36px;
}

.smallText {
  font-size: 12px;
}

.sectionHeader {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  color: gray;
  margin-top: 8px;
}
