@font-face {
  font-family: 'Korinna';
  font-style: normal;
  font-weight: 400;
  src: url('/jeopardy/korinna-regular.otf');
}

@font-face {
  font-family: 'Swiss 911';
  font-style: normal;
  font-weight: 400;
  src: url('/jeopardy/swiss911-xcm-bt.ttf');
}

@font-face {
  font-family: 'Univers';
  font-style: normal;
  font-weight: 400;
  src: url('/jeopardy/univers-75-black.ttf');
}

.title {
  font-size: 24px;
}

.board {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(6, 110px);
  grid-template-rows: repeat(6, 65px);
  grid-gap: 6px;
  padding: 6px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.box {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #0000b5;
  padding: 4px;
  height: 100%;
  width: 100%;
}

.category {
  font-family: 'Swiss 911';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #e1f3ff;
}

.value {
  font-family: 'Swiss 911';
  font-size: 50px;
  color: #d7a04b;
  text-shadow: black 4px 4px;
}

.value:hover {
  cursor: pointer;
  border: 1px solid white;
}

.clueContainer {
  width: 702px;
  height: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  background-color: #0000b5;
  position: relative;
  margin: 0 auto;
}

.clue {
  font-family: 'Korinna';
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.answer {
  font-family: 'Korinna';
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 110px;
  margin-right: 8px;
}

.scoreboard .icons {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

.scoreboard .picture {
  width: 100%;
  margin-bottom: -4px;
}

.scoreboard .picture img {
  width: 100%;
}

.scoreboard .name {
  color: white;
  background-color: #0000b5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  padding: 8px;
}

.scoreboard .points {
  font-family: 'Univers';
  color: white;
  background-color: #0000b5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 30px;
  padding: 4px 10px;
  border: 4px solid black;
}

.scoreboard .points.negative {
  color: red;
}

.judgeButtons {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
}

.scoreboard .answerBox {
  font-family: 'Korinna';
  color: white;
  background-color: #0000b5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  font-size: 14px;
  line-height: 14px;
  padding: 4px;
  word-break: break-word;
  border: 4px solid black;
}

.scoreboard .answerBox.buzz {
  border: 4px solid white;
}

#intro {
  width: 100%;
  position: relative;
  display: 'flex';
  align-items: center;
  justify-content: center;
}

#intro video {
  width: 100%;
}

#endgame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 20px;
}
